<!DOCTYPE html>
<html>

<head>
  <title>Second Page</title>
</head>

<body>
  <h2>Test Response</h2>
  <pre><%= JSON.stringify(response, null, 2) %></pre>

  <h2>Routes</h2>
  <ul>
    <% for(let route of routes) { %>
      <li>
        <a href="<%= route.path %>">
          <%= route.method %> - <%= route.path %>
        </a>
      </li>
      <% } %>
  </ul>
</body>

</html>